*, body{
  font-family: sans-serif;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

.container{
  width: 100%;
}

.container a, a:hover, a:visited{
  color: blue;
}

.container h2{
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.super_nav{
  width: 100%;
  background-color: #333333;
  min-height: 30px;
}

.super_nav_inner{
  width: 90%;
  margin: 0px auto;
  color: white;
  height: 30px;
}

.header{
  clear: both;
  height: 200px;
  background-image: url('/static/banner-top.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header_inner{
  width: 90%;
  margin: 0px auto;
}

.header_title{
  height: 60px;
}

.header_title h1{
  padding-top: 20px;
  font-size: 36px;
  color: white;
}

.nav{
  clear:both;
  width: 100%;
  background: #666666;
}

.nav_inner{
  width: 90%;
  margin: 0px auto;
  text-align: left;
}

.nav_race_cat{
  width: 70%;
  float: left;
  padding-top: 10px;
  color: white;
}

.navlink, .navlink:visited, .navlink:hover{
  color: white;
}

.nav_add_race{
  width: 25%;
  float: right;
  text-align: right;
  padding-top: 10px;
}

.nav_userinfo{
  display: block;
  min-width: 50%;
  float: right;
  text-align: right;
}

.super_nav_inner a, a:hover, a:visited{
  color: white;
}

.nav_userinfo_text{
  height: 20px;
  margin-top: 5px;
  vertical-align: middle;
  float: right;
}

.nav_userinfo_photo{
  float: right;
  margin-right: 10px;
}
.footer{
  clear:both;
  margin-top: 20px;
}

.footer_inner{
  clear:both;
  margin-top: 20px;
  width: 90%;
  margin: 0px auto;
}

.main{
  clear:both;
  margin-top: 20px;
  width: 90%;
  margin: 0px auto;
}

.race_block{
  clear: both;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px #cccccc solid;
  color: black;
}

.race_block_race_name{
  width: 25%;
  float: left;
}

.race_block_race_info{
  width: 25%;
  float: left;
}

.race_block_options{
  width: 25%;
  float: left;
  text-align: right;
}

.race_block a, a:hover, a:visited{
  color: blue;
}

.form_row{
  clear:both;
  width: 100%;
}

.white_link, .white_link:visited, .white_link:hover{
  color: white;
}
