<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '1012829136442-2tcuuqvorfkpkjuu0sonuu2rkcm2p8qg.apps.googleusercontent.com'
      });
    });
  }
</script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
	<body>
		<div class="container">
			{% include "header.html" %}
			<div class="main">
				{% block content %}
				{% endblock %}
			</div>
			{% include "footer.html" %}
		</div>
  </body>
</html>
