<div class="navigation">

  <div class="nav_race_cat">
    <a href="/" class="navlink">All Races</a>
    {% for racecat in racecats %}
      | <a href="/racecat/{{ racecat.id }}" class="navlink">{{ racecat.name}}</a>
    {% endfor %}
  </div>

  {%if 'user_id' in session %}
    <div class="nav_add_race">
      <a href="/race/add" class="navlink">Add Race</a>
    </div>
  {% endif %}


<!--
<form method="post">
    Choose by Month:
    <select type="select" name="filter_month">
    {% for month in months %}
    <option>{{ month.name }}</option>
    {% endfor %}
    </select>
    Choose by State:
    <select type="select" name="filter_states">
    {% for state in states %}
    <option>{{ state.name }}</option>
    {% endfor %}
    </select>
</form>
-->
</div>
