<div class="navigation">

  <div class="nav_race_cat">
    Filter by Category:
    <select name="race_cat_list" onchange="document.location.href=this.value">
      <option value="/">All</option>
      {% for racecat in racecats %}
        <option value="/racecat/{{ racecat.id }}" {% if racecat.id==race_cat_id %} selected {% endif %}>{{ racecat.name}}</option>
      {% endfor %}
    </select>
  </div>

  {%if 'user_id' in session %}
    <div class="nav_add_race">
      <a href="/race/add" class="navlink">Add Race</a>
    </div>
  {% endif %}
</div>
